.fus-yellow {
  background-color: #ffc658; }

.fus-light-blue {
  background-color: #8e9fbc; }

.fus-dark-blue {
  background-color: #1f2a44; }

.fus-green {
  background-color: #21412a; }

.fus-gold {
  background-color: #998643; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto;
  min-height: 100vh; }

header {
  height: 122px; }

nav {
  height: 122px; }
  nav .page-title {
    line-height: 122px;
    font-size: 48px;
    font-weight: 300;
    margin-left: 25px; }

.search-icon {
  cursor: pointer;
  padding-right: 8px; }

.search-nav .nav-wrapper {
  overflow: visible; }

.search-nav .search-form {
  height: 100%; }
  .search-nav .search-form .material-icons {
    color: #f5f5f5; }
  .search-nav .search-form .row {
    height: 100%;
    padding: 0; }
    .search-nav .search-form .row .select-wrapper + label {
      position: absolute;
      top: -14px;
      font-size: 0.8rem; }
    .search-nav .search-form .row .select-field {
      width: calc(25% - 16px);
      max-width: 175px;
      margin-left: 8px; }
  .search-nav .search-form .input-field {
    padding: 0; }
  .search-nav .search-form .input-field.search-field {
    height: 100%; }
    .search-nav .search-form .input-field.search-field input#search {
      height: 100%;
      font-size: 50px; }
      @media screen and (max-width: 993px) {
        .search-nav .search-form .input-field.search-field input#search {
          font-size: 25px; } }
      .search-nav .search-form .input-field.search-field input#search:focus {
        background-color: #21412a;
        color: #fafafa; }
  .search-nav .search-form .input-field input[type=search]:focus + label i {
    color: #f5f5f5; }
  .search-nav .search-form .close-search {
    color: #f5f5f5;
    position: absolute;
    right: 16px;
    cursor: pointer; }

.search-nav .select-wrapper input.select-dropdown {
  margin-top: 36px;
  z-index: 2; }

.search-nav .select-wrapper span.caret {
  right: 8px;
  top: -21px;
  color: #fafafa; }

.search-nav .dropdown-content {
  top: 8px !important; }

.mobile-search {
  padding: 50px 0; }
  .mobile-search .isotope-row {
    margin-top: 50px; }

.show-nav {
  display: block;
  visibility: visible; }

.hide-nav {
  display: none; }

.container {
  max-width: 5000px; }

#filter-card .card-content {
  height: 110px; }

.card .card-content .card-title {
  line-height: 30px;
  margin-bottom: 15px; }

.card .cat-name, .card .tag-name {
  color: #ffc658; }
  .card .cat-name:hover, .card .tag-name:hover {
    cursor: pointer; }

.card .more-link {
  display: none; }

#tag-container {
  visibility: hidden; }

.fourths {
  width: 23%; }

.halfsies {
  width: 48%; }

.fullish {
  width: 98.5%; }

#post-modal .cat-name, #post-modal .tag-name {
  color: #ffc658; }
  #post-modal .cat-name:hover, #post-modal .tag-name:hover {
    cursor: pointer; }

#post-modal .tag-name {
  color: #8e9fbc; }
  #post-modal .tag-name:hover {
    color: #ced5e2; }

footer.page-footer {
  margin-top: 0px;
  padding-top: 0px; }

footer.page-footer .row {
  margin-bottom: 0px;
  margin-top: 10px; }

.footer-copyright a {
  margin-right: 10px; }

footer {
  margin-top: 0px;
  padding-top: 0px; }
  footer .row {
    margin-bottom: 0px;
    margin-top: 10px; }

.footer-copyright a {
  margin-right: 10px; }
